.item__header {
    border: 1px solid white;
    color: white;
    font-size: 1.5rem;
    padding: 10px 0;
}

.item__header_300 {
    background-color: #229cab;
}

.item__header_450 {
    background-color: #1f8972;
}

.item__header_550 {
    background-color: #c0574c;
}

.item__header_1000 {
    background-color: #2a3033;
}