.App {
  width: 80%;
  text-align: center;
  display: flex;
  margin: 50px auto;
  align-items: center;
}

.item {
  width: 25%;
  border: 1px solid white;
  transition: 1s ease-in-out;
}

.selected {
  transform: scale(110%);
  transition: 1s ease-in-out;
  align-self: center;
  box-shadow: -10px 10px 21px -9px rgba(0, 0, 0, 0.75);
}

/*.item__550 {
  zoom: 110%;
  align-self: center;
  box-shadow: -10px 10px 21px -9px rgba(0, 0, 0, 0.75);
}*/